@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    form {
        max-width: 500px;
    }
</style>

<h1>@ViewData["Title"]</h1>
<br />

<form id="forgotPasswordForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="name" />
        <label asp-for="Input.Username" class="form-label"></label>
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.DeviceSK" class="form-control" aria-required="true" placeholder="xx-xx-..." />
        <label asp-for="Input.DeviceSK">Device SK</label>
        <span asp-validation-for="Input.DeviceSK" class="text-danger"></span>
    </div>
    <br />
    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
    <div />
    <br />
    <div>
        <p>
            <a asp-page="/Account/Login" asp-route-returnUrl="@Model.ReturnUrl">Ruturn to login page</a>
        </p>
    </div>
</form>
